* {
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

strong {
    font-weight: bold;
}

h1, h2 {
    font-family: 'Righteous', cursive;
}
h1 {
    font-size: 44px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;   
}

h4 {
    font-size: 16px;
    color: #333333;
}

h5 {
    font-size: 15px;
    color: #a6a6a6;
}

p {
    font-size: 16px;
    color: #000000;
}

img {
    width: 35vw;
    height: 25vw;
}

header {
    width: 100vw;
    height: 92px;

    background-color: #cf2b2b;

    position: fixed;
    top: 0;
    left: 0;    
}

.logo {
    width: 95vw;
    height: 92px;

    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;    
}

.prato-principal {
    width: 95vw;
    
    margin: calc(2vw + 92px) auto 2vw auto;

    overflow-x: scroll;
}

.escolher-bebida{
    width: 95vw;
    
    margin: 2vw auto
}

.escolher-sobremesa {
    width: 95vw;
    
    margin: 2vw auto calc(2vw + 92px);
}

.cardapio {
    display: flex;
    overflow: hidden;
}

.escolher-pedido {
    width: 40vw;
    height: 50vw;

    padding: 10px;

    background-color: #ffffff;  
    
    border-radius: 10px;

    margin: 4vw 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer {
    width: 100vw;
    height: 92px;

    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    bottom: 0;
    left: 0;
}

footer button {
    width: 80vw;
    height: 53px;

    border-radius: 40px;

    font-size: 20px;
    color: #ffffff;
    background-color: #cbcbcb;
    border: #cbcbcb;
}
